body {
  font-family: Arial, sans-serif;
  background-color: #07b348f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  background-color: rgb(172, 201, 46);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(228, 44, 44, 0.1);
  width: 600px;
  }


.card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
}
.card h1 {
  margin: 10px 0;
  font-size: 24px;
  color : #333;
}
.card p {
  color: #555;
  margin-bottom: 20px;
}


.buttons a {
  display: inline-block;
  margin: 5px;
  padding: 8px 12px;
  text-decoration: none;
  color: white;
  background-color: #e6082d;
  border-radius: 8px;
  transition: background 0.3s;
}